.event-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: stretch;
}

.event-container > * {
    flex: 1;
}