.event-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;
}

.event-container > * {
    flex: 1;
}

@media only screen and (max-width: 1090px) {
    .event-container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }
}
