.profile-nav {
    width: 100%;
    margin: 0 auto;
    background-color: var(--profile-bg);
    border: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-item {
    flex: 1;
    text-align: center;
    list-style: none;
}


.nav-item svg {
    width: 2rem;
    min-height: 1.7rem;
    fill: #fff;
}

.nav-link {
    position: relative;
    bottom: -3px;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #022b3b;
    /* border-top: 3px solid #09698f; */
    color: #fff;
    letter-spacing: 1px;
    transition: var(--transition-fast) ease-in-out;
}

.record-link {
    border-radius: 0 10px 0 0;
}

.upcoming-link {
    border-radius: 10px 0 0 0;
}

.nav-link:hover {
    transition: var(--transition-fast) ease-in-out;
    background-color: #0379a7;
}

.active > .nav-link { 
    background-color: #fff;
    color: #000;
    transition: 100ms ease-in-out;
    border-radius: 0;
    border: 2px solid #fff;
}

.active > .nav-link svg {
    fill: #000;
}

@media only screen and (max-width: 800px) {
    .link-text {
        display: none;
    }
}