.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 5rem 0;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

form input[type="text"],
form button[type="submit"]{
    padding: 0.9rem;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    box-shadow: 0px 0px 5px rgb(181, 179, 179);
}

form input[type="text"] {
    width: 300px;
    font-size: 1rem;
}

form button[type="submit"] {
    margin-left: 5px;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #2f2f3e;
}
