/* You can add global styles to this file, and also import other style files */
:root {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #141e30;
    --bg-secondary: #0b1426;
    --profile-bg: rgb(10, 73, 93);
    --profile-text: #143035;
    --transition-speed: 400ms;
    --transition-fast: 200ms;
    --forms-action: #03e9f4;
}


body {
    color: black;
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}
