.wrap {
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
    background-color:  rgb(10, 73, 93);
    color: #fff;
}

.athelte-welcome {
    width: 40%;
    margin: 4rem auto;
    text-align: center;
}