<div class="wrap">
    <div class="register-container">
        <h1>Register</h1>
        <form [formGroup]="form" (submit)="submit()">

            <div class="input-wrap">

                <!-- NAME -->
                <div class="input-box">
                    <input formControlName="name" type="text" required>
                    <!-- Floating label animation -->
                    <label [ngClass]="{'active': form.get('name')?.value}">Name</label>
                    <!-- Display name requirements -->
                    <div *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched" class="field-message">
                        Name is required
                    </div>
                    <div *ngIf="form.get('name')?.hasError('fullNameFormat') && form.get('name')?.touched" class="field-message">
                        Please insert a valid name
                    </div>

                </div>

                <!-- SURNAME -->
                <div class="input-box">
                    <input formControlName="surname" type="text" required>
                    <!-- Floating label animation -->
                    <label [ngClass]="{'active': form.get('surname')?.value}">Surname</label>
                    <!-- Display surname requirements -->
                    <div *ngIf="form.get('surname')?.hasError('required') && form.get('surname')?.touched" class="field-message">
                        Surname is required
                    </div>
                    <div *ngIf="form.get('surname')?.hasError('fullNameFormat') && form.get('surname')?.touched" class="field-message">
                        Please insert a valid surname
                    </div>
                </div>

                <!-- EMAIL -->
                <div class="input-box">
                    <input formControlName="email" type="email" required>
                    <label [ngClass]="{'active': form.get('email')?.value}">Email</label>
                    <!-- Display Email requirements -->
                    <div *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched" class="field-message">
                        Email is required
                    </div>
                    <div *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched" class="field-message">
                        Please insert a valid email address
                    </div>
                </div>

                <!-- PASSWORD -->
                <div class="input-box">
                    <input formControlName="password" type="password" required>
                    <!-- Floating label animation -->
                    <label [ngClass]="{'active': form.get('password')?.value}">Password</label>
                    <!-- Display Password requirements -->
                    <div *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched" class="field-message">
                        Password is required
                    </div>
                    <div *ngIf="form.get('password')?.hasError('passwordStrength') && form.get('password')?.touched" class="field-message">
                        Password must be at least 8 characters long, and must have lower case, upper case and numeric characters.
                    </div>
                </div>

                <!-- WEIGHT -->
                <div class="input-box">
                    <input formControlName="weight" type="text" inputmode="numeric" value="" required>
                    <label [ngClass]="{'active': form.get('weight')?.value}">Weight (kg)</label>
                    <!-- Display Weight requirements -->
                    <div *ngIf="form.get('weight')?.hasError('required') && form.get('weight')?.touched" class="field-message">
                        Weight is required
                    </div>
                    <div *ngIf="form.get('weight')?.hasError('properWeight') && form.get('weight')?.touched" class="field-message">
                        Please enter a valid weight. It should be a numeric value greater than 50
                    </div>
                </div>

                <!-- GENDER -->
                <fieldset class="gender-box">
                    <p class="block-label">Gender</p>
                    <label class="radio">
                        <input formControlName="gender" type="radio" value="Male">
                        Male
                        <span></span>
                    </label>
                    <label class="radio">
                        <input formControlName="gender" type="radio" value="Female">
                        Female
                        <span></span>
                    </label>
                </fieldset>

                <!-- MARTIAL ART -->
                <div class="input-box custom-select">
                    <p class="block-label">Fighting Style</p>
                    <select formControlName="style" id="dropdown">
                        <option value="Brazilian Jiu Jitsu">Brazilian Jiu Jitsu</option>
                        <option value="Muay Thai">Muay Thai</option>
                        <option value="Boxing">Boxing</option>
                        <option value="MMA">MMA</option>
                    </select>
                </div>
                <button type="submit">Register</button>
            </div>
        </form>
    </div>

    <!-- Notify for Invalid credential format -->
    <div #scrollTarget *ngIf="formInvalid" class="form-invalid-warning">
        Insufficient register information. Please complete all required fields and ensure that the provided information is valid.
    </div>

    <!-- Notify server side error -->
    <div #scrollTarget *ngIf="registrationError" class="form-invalid-warning">
        An error occured attempting registration. Please please ensure validity of the provided information, or try again later.
    </div>
</div>